{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>Hello!! Welcome to Employee Sample App.</h1>
    <p>This is a Employee sample PHP application deployed to Heroku. It is part of education process at University.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://webclass-emp-faijiuy.herokuapp.com/emp_mgnt.php"><span class="glyphicon glyphicon-flash"></span> Go to Employee Sample App</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/Faijiuy/employee-php"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>


{% endblock %}
